.test {
  display: none;
}

.animated {
  text-indent: 8px;
  color:red;
}

.animated:before {
  content: "rock.";
  animation: toodles 1.5s forwards 0s;
}

@keyframes toodles {
  0% {
    content: "";
  }
  25% {
    content: "Rock";
  }
  50% {
    content: "Paper";
  }
  75% {
    content: "Scissors";
  }
  100% {
    content: "Shoot!";
  }
}

.start-screen__container {
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translateX(-50%) translateY(-50%);
  white-space: nowrap;
  display: block;
}
.start-screen {
  text-align: center;
}

.score__container {
  position: absolute;
  left: 50%;
  top: 15%;
  transform: translateX(-50%) translateY(-50%);
  white-space: nowrap;
  display: none;
}
.score {
  display: inline-block;
  text-align: center;
}

.gameplay__container {
  display: none;
}

.round-result__container {
  text-align: center;
}
.round-result__container {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translateX(-50%) translateY(-50%);
  white-space: nowrap;
}
.countdown {
  text-align: center;
}
.name-title {
  display: inline-block;
  width: 100px;
}

.game-result__container {
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translateX(-50%) translateY(-50%);
  white-space: nowrap;
  display: none;
}

.selection-display {
  display: inline-block;
  width: 100px;
}

.player-selection__container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  white-space: nowrap;
}
.player-selection {
  display: inline-block;
  text-align: center;
  width: 100px;
}
.player-selection button {
  width: 100%;
}

.reset {
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translateX(-50%) translateY(-50%);
  white-space: nowrap;
  display: none;
}

.error {
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translateX(-50%) translateY(-50%);
  white-space: nowrap;
  display: none;
}
