p {
  font-family: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.start-screen__container {
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translateX(-50%) translateY(-50%);
  white-space: nowrap;
  display: block;
}
.start-screen {
  text-align: center;
}

.game-result__container {
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translateX(-50%) translateY(-50%);
  white-space: nowrap;
  display: none;
}

.gameplay__container {
  display: none;
}

.score__container {
  position: absolute;
  left: 50%;
  top: 15%;
  transform: translateX(-50%) translateY(-50%);
  white-space: nowrap;
}
.score {
  display: inline-block;
  text-align: center;
}

.player-selection__container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  white-space: nowrap;
}
.player-selection {
  display: inline-block;
  text-align: center;
  width: 100px;
}
.player-selection button {
  width: 100%;
}

.round-result__container {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translateX(-50%) translateY(-50%);
  white-space: nowrap;
}

.reset {
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translateX(-50%) translateY(-50%);
  white-space: nowrap;
}
